global:
  host: "192.168.1.70"
  environment: production

namespace:
  create: false
  name: "chats"

mysql:
  replicas: 1
  environment:
    MYSQL_DATABASE: "chats"
    MYSQL_ROOT_PASSWORD: "root"

  image:
    repository: mysql
    pullPolicy: IfNotPresent
    tag: "8.0"

  service:
    type: ClusterIP
    port: 3306
    targetPort: 3306
    containerPort: 3306

  storage:
    size: 20Gi
    storageClassName: "standard"

  resources:
    limits:
      cpu: 1000m
      memory: 2Gi
    request:
      cpu: 500m
      memory: 1Gi

  autoscaling:
    enabled: false

backend:
  replicas: 1
  environment:
    SPRING_DATASOURCE_URL: jdbc:mysql://chats-mysql-svc:3306/chats?createDatabaseIfNotExist=true&useSSL=true
    SPRING_DATASOURCE_USERNAME: root
    APPLICATION_CORS_ORIGINS: http://192.168.1.70:4200

  image:
    repository: rupesh1997/chat-service-backend
    pullPolicy: IfNotPresent
    tag: latest

  service:
    type: ClusterIP
    port: 8181
    targetPort: 8181
    containerPort: 8181

  resources:
    limits:
      cpu: 1000m
      memory: 2Gi
    requests:
      cpu: 500m
      memory: 1Gi
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 2
    targetCPUUtilizationPercentage: 70
    targetMemoryUtilizationPercentage: 80

frontend:
  replicas: 1
  image:
    repository: rupesh1997/chat-service-frontend
    pullPolicy: IfNotPresent
    tag: latest

  service:
    type: ClusterIP
    port: 4200
    targetPort: 8080
    containerPort: 8080

  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    request:
      cpu: 250m
      memory: 500Mi

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 2
    targetCPUUtilizationPercentage: 70

