apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deploy
  namespace: chats
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chat-backend
  template:
    metadata:
      labels:
        app: chat-backend
    spec:
      containers:
        - name: chat-backend
          image: rupesh1997/chat-service-backend:1.0.1
          ports:
            - containerPort: 8181
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: production
---
apiVersion: v1
kind: Service
metadata:
  name: backend-svc  # THIS IS THE DNS NAME
  namespace: chat-apps
spec:
  selector:
    app: chat-backend
  ports:
    - protocol: TCP
      port: 8181
      targetPort: 8181